<div>
    <div class="topbar-item profile-item fadeInDown" *ngIf="user;else anonymousUser">
        <a href="#" data-toggle="dropdown" data-target="#modalLogin">
            <span class="profile-image-wrapper"><img id="loginImage" src={{user.photoUrl}} ></span>
            <span class="profile-info-wrapper"><h3>Robson Mattos</h3><a href="#">Administrador</a></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <ng-template #anonymousUser>
        <div class="topbar-item profile-item">
            <a routerLink="/login-full"><span class="profile-image-wrapper">
          <i class="fa fa-user-circle-o fa-2x"></i></span>
            <span class="profile-info-wrapper"><h3 style="color: #49688e;">Logar</h3></span></a>
        </div>
    </ng-template>
</div>