<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/"><i class="fas fa-dollar-sign"></i>BILL<i class="fas fa-dollar-sign"></i></a>
    <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarsBills" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsBills">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/categorias">Categorias</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/lancamentos">Lancamentos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/faturas">Faturas</a>
            </li>
        </ul>

        <div class="layout-topbar">
            <div class="layout-topbar-wrapper">
                <div class="layout-topbar-right fadeInDown">

                    <ul class="layout-topbar-actions">
                        <!-- <li class="topbar-item"><a href="#"><i class="topbar-icon fa fa-inbox"></i></a>
                        <ul class="fadeInDown">
                            <li class="layout-submenu-header">
                                <h1>Messages</h1><span>Today, you have new 4 messages</span></li>
                            <li class="layout-submenu-item"><img alt="mirage-layout" src="assets/images/avatar-eklund" width="35">
                                <div class="menu-text">
                                    <p>Override the digital divide</p><span>Cayla Brister</span></div><i class="fa fa-angle-right"></i></li>
                            <li class="layout-submenu-item"><img alt="mirage-layout" src="assets/images/avatar-eklund.png" width="35">
                                <div class="menu-text">
                                    <p>Nanotechnology immersion</p><span>Gabie Sheber</span></div><i class="fa fa-angle-right"></i></li>
                            <li class="layout-submenu-item"><img alt="mirage-layout" src="assets/images/avatar-eklund.png" width="35">
                                <div class="menu-text">
                                    <p>User generated content</p><span>Gaspar Antunes</span></div><i class="fa fa-angle-right"></i></li>
                            <li class="layout-submenu-item"><img alt="mirage-layout" src="assets/images/topbar/avatar-eklund.png" width="35">
                                <div class="menu-text">
                                    <p>The holistic world view</p><span>Tatiana Gagelman</span></div><i class="fa fa-angle-rightt"></i></li>
                        </ul>
                    </li> -->

                        <!-- <li class="topbar-item"><a href="#"><i class="topbar-icon pi pi-envelope"></i></a>
                        <ul class="fadeInDown">
                            <li class="layout-submenu-header">
                                <h1>Deals</h1>
                            </li>
                            <li class="deals">
                                <ul>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-sapphire.png" width="35">
                                        <div class="menu-text">
                                            <p>Sapphire</p><span>Angular</span></div><i class="pi pi-angle-right"></i></li>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-roma.png" width="35">
                                        <div class="menu-text">
                                            <p>Roma</p><span>Minimalism</span></div><i class="pi pi-angle-right"></i></li>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-babylon.png" width="35">
                                        <div class="menu-text">
                                            <p>Babylon</p><span>Powerful</span></div><i class="pi pi-angle-right"></i></li>
                                </ul>
                                <ul>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-harmony.png" width="35">
                                        <div class="menu-text">
                                            <p>Harmony</p><span>USWDS</span></div><i class="pi pi-angle-right"></i></li>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-prestige.png" width="35">
                                        <div class="menu-text">
                                            <p>Prestige</p><span>Elegancy</span></div><i class="pi pi-angle-right"></i></li>
                                    <li><img alt="mirage-layout" src="assets/layout/images/topbar/deal-icon-ultima.png" width="35">
                                        <div class="menu-text">
                                            <p>Ultima</p><span>Material</span></div><i class="pi pi-angle-right"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                        <bill-autenticacao [user]='user'></bill-autenticacao>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>