<div class="login-container">
    <div class="login-overlay"></div>
    <div class="login-form-container">
        <!-- <form (submit)="submitForm()">
            <div class="login-box">
                <header class="text-center">
                    <h1><img src="/assets/login-logoA.svg"></h1>
                    <h6>Controle de Acesso</h6>
                </header>
                <div class="login-box-body">

                    <p class="login-box-msg">Autenticação</p>

                    <br>
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input id="user" name="user" type="text" placeholder="login" aria-required="true" class="form-control" role="textbox" aria-disabled="false" aria-readonly="false" formControlName="username">
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                            </div>
                            <input id="senha" name="senha" type="password" placeholder="Senha" aria-required="true" class="form-control" role="textbox" aria-disabled="false" aria-readonly="false" formControlName="password">
                        </div>
                    </div>
                    <br> {{ erroLogin }}
                    <br>
                    <br>
                    <div>
                        <button id="logar" class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><span>Entrar</span></button>
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</div>