<div class="fadeInDown" [ngStyle]="{'display': display}" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="login-container">
                <!-- <div class="login-overlay"></div> -->
                <div class="login-form-container">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <!-- <form (submit)="submitForm()"> -->
                    <div class="login-box">
                        <header class="text-center">
                            <!-- <h1><img src="/assets/login-logoA.svg"></h1> -->
                            <h1><i class="fas fa-key"></i></h1>
                            <h6>Controle de Acesso</h6>
                        </header>
                        <div class="login-box-body">

                            <p class="login-box-msg">Autenticação</p>

                            <br>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    <input id="user" name="user" type="text" placeholder="login" aria-required="true" class="form-control" role="textbox" aria-disabled="false" aria-readonly="false">
                                </div>
                            </div>
                            <br>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                    </div>
                                    <input id="senha" name="senha" type="password" placeholder="Senha" aria-required="true" class="form-control" role="textbox" aria-disabled="false" aria-readonly="false">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div>
                                <!-- <button id="logar" class="btn btn-primary" type="submit"><span>Entrar</span></button> -->
                                <button id="logar" class="btn btn-primary" (click)="signInWithGoogle()"><span>Google</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                    <!-- </div>
          </div> -->

                </div>
            </div>
        </div>