<div class="container">
    <bill-page-header page-title="Faturas" button-text="+ Nova Fatura" button-link="new" button-class="btn-success">
    </bill-page-header>


    <div class="row mt-4">
        <div *ngFor="let fatura of faturas" class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning"><i class="fas fa-coins"></i></div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">{{ fatura.mes }}</p>
                                <p class="card-title">{{ fatura.valor | currency:'BRL':true}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- <hr> -->
                    <div class="stats">Pagamento: {{ fatura.pagamento }} </div>
                    <div class="row">
                        <!-- Button trigger modal -->
                        <button type="button" (click)="getResponsaveis(fatura)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Responsáveis...
                    </button>
                        <div class="col justify-content-end" style="text-align: right;">
                            <a class="btn btn-outline-primary" [routerLink]="[fatura.id, 'edit']"><span>Lançamentos</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Divisão da fatura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let responsavel of responsaveis" class="row">
                    <div class="col">
                        {{ responsavel.nome }}
                    </div>
                    <div class="col text-right">
                        {{ responsavel.valor | currency:'BRL':true}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>